- @page_title = "About"

.row
  .col-sm-8
    %h2 About
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pharetra nisl nec ipsum lacinia eleifend. Cras eget
      arcu at tellus laoreet vestibulum. Aliquam non sagittis arcu, non ullamcorper odio. Cras interdum urna maximus massa
      bibendum, in facilisis metus bibendum. Integer tellus justo, interdum vitae interdum accumsan, bibendum eu felis.
      Integer rhoncus ex in pharetra luctus. Duis egestas turpis risus, non blandit ligula varius quis. Aenean at lorem
      vitae eros interdum egestas. Vivamus eleifend elit vitae elit sollicitudin, non elementum nibh pellentesque. Integer
      sit amet massa sit amet tellus scelerisque faucibus.
    %p
      Duis nec lacus sit amet eros dictum sollicitudin nec ac lectus. Donec eget lorem dictum elit molestie pharetra.
      Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In in orci vitae nisl porta
      dictum vitae et orci. Fusce vel mauris pellentesque, semper sem non, elementum mi. Aliquam erat volutpat. Quisque
      sit amet felis at nibh mollis posuere. Sed tristique neque eget eleifend porta. Cras vitae elit quis orci blandit
      dictum.
    %h3 Another Heading
    %p
      Etiam vel purus nulla. Maecenas gravida quam mollis erat accumsan, et maximus nisi auctor. Integer vitae fringilla
      elit. Morbi sagittis nibh ut nisl faucibus accumsan. Aliquam ac elementum dui. Nam eget eros risus. Morbi euismod
      tristique ligula vitae consequat. Quisque eu felis aliquet nisi vulputate blandit. Donec vitae volutpat tellus,
      sit amet mollis nisi.
    %p
      Phasellus vel feugiat augue. Nullam nisi ante, scelerisque nec metus nec, finibus viverra ex. Maecenas viverra
      magna arcu. Nulla tempus enim a est luctus vehicula. Vestibulum porta, turpis quis condimentum ornare, nunc purus
      malesuada leo, eu maximus tortor purus ac ligula. Vivamus fringilla varius nunc a tincidunt. Quisque non tempor
      erat, vitae fringilla sem. Aliquam augue enim, facilisis vel arcu eu, lacinia tristique ipsum. Nam nec tempor
      dolor. Morbi vitae felis ut tellus venenatis scelerisque. Phasellus lobortis tempus euismod. Nunc quis felis
      interdum leo fermentum cursus. Mauris maximus sagittis urna, non pharetra libero blandit nec.
    %p
      Maecenas imperdiet vitae tellus at tempus. Donec viverra cursus odio eu ultrices. Aenean quis rhoncus magna, vitae
      lacinia sem. Phasellus ac sapien porta, euismod lorem ac, faucibus quam. Donec pharetra eu mi eu aliquet. Proin
      ornare et ipsum auctor vulputate. Etiam eu leo quam. Mauris euismod purus at justo tristique volutpat. Phasellus
      nec volutpat ligula. Mauris efficitur facilisis mi, in auctor elit aliquam eu. Integer orci nibh, suscipit vitae
      turpis non, imperdiet ultricies nunc. Etiam a turpis neque. Integer nec tellus pellentesque, dictum mauris id,
      feugiat arcu.
  .col-sm-4
    .bs-component
      .list-group
        %a.list-group-item{:href => 'https://github.com/lesleh'}
          %i.fa.fa-github.fa-lg
          Github
        %a.list-group-item{:href => 'https://plus.google.com/+LeslieHoare'}
          %i.fa.fa-google-plus.fa-lg
          Google+
        %a.list-group-item{:href => 'http://instagram.com/iamleslehh/'}
          %i.fa.fa-instagram.fa-lg
          Instagram
        %a.list-group-item{:href => 'http://www.last.fm/user/jisatsusha'}
          %i.fa.fa-lastfm.fa-lg
          Last.fm
        %a.list-group-item{:href => 'http://stackoverflow.com/users/781883/lesleh'}
          %i.fa.fa-stack-overflow.fa-lg
          Stack Overflow
        %a.list-group-item{:href => 'https://twitter.com/iamlesleh'}
          %i.fa.fa-twitter.fa-lg
          Twitter