<style>
    .calibre8 {
        font-style: italic;
    }
        .calibre23 {
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;
        }
        .calibre17, .calibre6 {
            text-align: center;
        }
</style>

<div class="row">
  <div class="col-sm-8">

    <h2 id="filepos424713" class="calibre17">Nothing O’Clock</h2>

    <div class="calibre18"> </div>
    <h3 class="calibre6">I</h3>

    <p class="calibre7"><span><span class="calibre19">T</span></span>he Time Lords built a prison. They built it in a
      time and place that are equally as unimaginable to any entity who has never left the solar system in which it was
      spawned, or who has only experienced the journey into the future one second at a time, and that going forward. It
      was built solely for the Kin. It was impregnable: a complex of small, nicely appointed rooms (for they were not
      monsters, the Time Lords. They could be merciful, when it suited them), out of temporal phase with the rest of the
      Universe.</p>

    <p class="calibre20">There were, in that place, only those rooms: the gulf between microseconds was one that could
      not be crossed. In effect, those rooms became a Universe in themselves, one that borrowed light and heat and
      gravity from the rest of creation, always a fraction of a moment away.</p>

    <p class="calibre20">The Kin prowled its rooms, patient and deathless, and always waiting.</p>

    <p class="calibre20">It was waiting for a question. It could wait until the end of time. (But even then, when Time
      Ended, the Kin would never perceive it, imprisoned in the micro-moment away from time.)</p>

    <p class="calibre20">The Time Lords maintained the prison with huge engines they built in the hearts of black holes,
      unreachable: no one would be able to get to the engines, save the Time Lords themselves. The multiple engines were
      a fail-safe. Nothing could ever go wrong.</p>

    <p class="calibre20">As long as the Time Lords existed, the Kin would be in their prison, and the rest of the
      Universe would be safe. That was how it was, and how it always would be.</p>

    <p class="calibre20">And if anything went wrong, then the Time Lords would know. Even if, unthinkably, any of the
      engines failed, then emergency signals would sound on Gallifrey long before the prison of the Kin returned to our
      time and our Universe. The Time Lords had planned for everything.</p>

    <p class="calibre20">They had planned for everything except the possibility that one day there would be no Time
      Lords, and no Gallifrey. No Time Lords in the Universe, except for one.</p>

    <p class="calibre20">So when the prison shook and crashed, as if in an earthquake, throwing the Kin down, and when
      the Kin looked up from its prison to see the light of galaxies and suns above it, unmediated and unfiltered, and
      it knew that it had returned to the Universe, it knew it would only be a matter of time until the question would
      be asked once more.</p>

    <p class="calibre20">And, because the Kin was careful, it took stock of the Universe they found themselves in. It
      did not think of revenge: that was not in its nature. It wanted what it had always wanted. And besides . . .</p>

    <p class="calibre20">There was still a Time Lord in the Universe.</p>

    <p class="calibre20">The Kin needed to do something about that.</p>

    <h3 class="calibre6">II</h3>

    <p class="calibre7">On Wednesday, eleven-year-old Polly Browning put her head around her father’s office door. ‘Dad.
      There’s a man at the front door in a rabbit mask who says he wants to buy the house.’</p>

    <p class="calibre20">‘Don’t be silly, Polly.’ Mr Browning was sitting in the corner of the room he liked to call his
      office, and which the estate agent had optimistically listed as a third bedroom, although it was scarcely big
      enough for a filing cabinet and a card table, upon which rested a brand-new Amstrad computer. Mr Browning was
      carefully entering the numbers from a pile of receipts onto the computer, and wincing. Every half an hour he would
      save the work he’d done so far, and the computer would make a grinding noise for a few minutes as it saved
      everything onto a floppy disk.</p>

    <p class="calibre20">‘I’m not being silly. He says he’ll give you seven hundred and fifty thousand pounds for
      it.’</p>

    <p class="calibre20">‘Now you’re really being silly. It’s on sale for a hundred and fifty thousand.’
      <span><span class="calibre8">And we’d be lucky to get that in today’s market,</span></span> he thought, but did
      not say. It was the summer of 1984, and Mr Browning despaired of finding a buyer for the little house at the end
      of Claversham Row.</p>

    <p class="calibre20">Polly nodded thoughtfully. ‘I think you should go and talk to him.’</p>

    <p class="calibre20">Mr Browning shrugged. He needed to save the work he’d done so far anyway. As the computer made
      its grumbling sound, Mr Browning went downstairs. Polly, who had planned to go up to her bedroom to write in her
      diary, decided to sit on the stairs and find out what was going to happen next.</p>

    <p class="calibre20">Standing in the front garden was a tall man in a rabbit mask. It was not a particularly
      convincing mask. It covered his entire face, and two long ears rose above his head. He held a large, leather,
      brown bag, which reminded Mr Browning of the doctors’ bags of his childhood.</p>

    <p class="calibre20">‘Now, see here,’ began Mr Browning, but the man in the rabbit mask put a gloved finger to his
      painted bunny lips, and Mr Browning fell silent.</p>

    <p class="calibre20">‘Ask me what time it is,’ said a quiet voice that came from behind the unmoving muzzle of the
      rabbit mask.</p>

    <p class="calibre20">Mr Browning said, ‘I understand you’re interested in the house.’ The
      <span><span class="calibre12">FOR SALE</span></span> sign by the front gate was grimy and streaked by the rain.
    </p>

    <p class="calibre20">‘Perhaps. You can call me Mister Rabbit. Ask me what time it is.’</p>

    <p class="calibre20">Mr Browning knew that he ought to call the police. Ought to do something to make the man go
      away. What kind of crazy person wears a rabbit mask anyway?</p>

    <p class="calibre20">‘Why are you wearing a rabbit mask?’</p>

    <p class="calibre20">‘That was not the correct question. But I am wearing the rabbit mask because I am representing
      an extremely famous and important person who values his or her privacy. Ask me what time it is.’</p>

    <p class="calibre20">Mr Browning sighed. ‘What time is it, Mister Rabbit?’ he asked.</p>

    <p class="calibre20">The man in the rabbit mask stood up straighter. His body language was one of joy and delight.
      ‘Time for you to be the richest man on Claversham Row,’ he said. ‘I’m buying your house, for cash, and for more
      than ten times what it’s worth, because it’s just perfect for me now.’ He opened the brown leather bag, and
      produced blocks of money, each block containing five hundred – ‘count them, go on, count them’ – crisp fifty-pound
      notes, and two plastic supermarket shopping bags, into which he placed the blocks of currency.</p>

    <p class="calibre20">Mr Browning inspected the money. It appeared to be real.</p>

    <p class="calibre20">‘I . . .’ He hesitated. What did he need to do? ‘I’ll need a few days. To bank it. Make sure
      it’s real. And we’ll need to draw up contracts, obviously.’</p>

    <p class="calibre20">‘Contract’s already drawn up,’ said the man in the rabbit mask. ‘Sign here. If the bank says
      there’s anything funny about the money, you can keep it and the house. I’ll be back on Saturday to take vacant
      possession. You can get everything out by then, can’t you?’</p>

    <p class="calibre20">‘I don’t know,’ said Mr Browning. Then: ‘I’m sure I can. I mean,
      <span><span class="calibre8">of course.</span></span>’</p>

    <p class="calibre20">‘I’ll be here on Saturday,’ said the man in the rabbit mask.</p>

    <p class="calibre20">‘This is a very unusual way of doing business,’ said Mr Browning. He was standing at his front
      door holding two shopping bags, containing £750,000.</p>

    <p class="calibre20">‘Yes,’ agreed the man in the rabbit mask. ‘It is. See you on Saturday, then.’</p>

    <p class="calibre20">He walked away. Mr Browning was relieved to see him go. He had been seized by the irrational
      conviction that, were he to remove the rabbit mask, there would be nothing underneath.</p>

    <p class="calibre20">Polly went upstairs to tell her diary everything she had seen and heard.</p>

    <p class="calibre23">***</p>

    <p class="calibre7">On Thursday, a tall young man with a tweed jacket and a bow tie knocked on the door. There was
      nobody at home, and nobody answered, and, after walking around the house, he went away.</p>

    <p class="calibre23">***</p>

    <p class="calibre7">On Saturday, Mr Browning stood in his empty kitchen. He had banked the money successfully, which
      had wiped out all his debts. The furniture that they had wanted to keep had been put into a moving van and sent to
      Mr Browning’s uncle, who had an enormous garage he wasn’t using.</p>

    <p class="calibre20">‘What if it’s all a joke?’ asked Mrs Browning.</p>

    <p class="calibre20">‘Not sure what’s funny about giving someone seven hundred and fifty thousand pounds,’ said Mr
      Browning. ‘The bank says it’s real. Not reported stolen. Just a rich and eccentric person who wants to buy our
      house for a lot more than it’s worth.’</p>

    <p class="calibre20">They had booked two rooms in a local hotel, although hotel rooms had proved harder to find than
      Mr Browning had expected. Also, he had had to convince Mrs Browning, who was a nurse, that they could now afford
      to stay in a hotel.</p>

    <p class="calibre20">‘What happens if he never comes back?’ asked Polly. She was sitting on the stairs, reading a
      book.</p>

    <p class="calibre20">Mr Browning said, ‘Now you’re being silly.’</p>

    <p class="calibre20">‘Don’t call your daughter silly,’ said Mrs Browning. ‘She’s got a point. You don’t have a name
      or a phone number or anything.’</p>

    <p class="calibre20">This was unfair. The contract was made out, and the buyer’s name was clearly written on it: N.
      M. de Plume. There was an address, too, for a firm of London solicitors, and Mr Browning had phoned them and been
      told that, yes, this was absolutely legitimate.</p>

    <p class="calibre20">‘He’s eccentric,’ said Mr Browning. ‘An eccentric millionaire.’</p>

    <p class="calibre20">‘I bet it’s him behind that rabbit mask,’ said Polly. ‘The eccentric millionaire.’</p>

    <p class="calibre20">The doorbell rang. Mr Browning went to the front door, his wife and daughter beside him, each
      of them hoping to meet the new owner of their house.</p>

    <p class="calibre20">‘Hello,’ said the lady in the cat mask. It was not a very realistic mask. Polly saw her eyes
      glinting behind it, though.</p>

    <p class="calibre20">‘Are you the new owner?’ asked Mrs Browning.</p>

    <p class="calibre20">‘Either that, or I’m the owner’s representative.’</p>

    <p class="calibre20">‘Where’s . . . your friend? In the rabbit mask?’</p>

    <p class="calibre20">Despite the cat mask, the young lady (was she young? Her voice sounded young, anyway) seemed
      efficient and almost brusque. ‘You have removed all your possessions? I’m afraid anything left behind will become
      the property of the new owner.’</p>

    <p class="calibre20">‘We’ve got everything that matters.’</p>

    <p class="calibre20">‘Good.’</p>

    <p class="calibre20">Polly said, ‘Can I come and play in the garden? There isn’t a garden at the hotel.’ There was a
      swing on the oak tree in the back garden, and Polly loved to sit on it and read.</p>

    <p class="calibre20">‘Don’t be silly, love,’ said Mr Browning. ‘We’ll have a new house, and then you’ll have a
      garden with swings. I’ll put up new swings for you.’</p>

    <p class="calibre20">The lady in the cat mask crouched down. ‘I’m Mrs Cat. Ask me what time it is, Polly.’</p>

    <p class="calibre20">Polly nodded. ‘What’s the time, Mrs Cat?’</p>

    <p class="calibre20">‘Time for you and your family to leave this place and never look back,’ said Mrs Cat, but she
      said it kindly.</p>

    <p class="calibre20">Polly waved goodbye to the lady in the cat mask when she got to the end of the garden path.</p>

    <h3 class="calibre6">III</h3>

    <p class="calibre7">They were in the TARDIS control room, going home.</p>

    <p class="calibre20">‘I still don’t understand,’ Amy was saying. ‘Why were the Skeleton People so angry with you in
      the first place? I thought they <span><span class="calibre8">wanted</span></span> to get free from the rule of the
      Toad-King.’</p>

    <p class="calibre20">‘They weren’t angry with me about <span><span class="calibre8">that,</span></span>’ said the
      young man in the tweed jacket and the bow tie. He pushed a hand through his hair. ‘I think they were quite pleased
      to be free, actually.’ He ran his hands across the TARDIS control panel, patting levers, stroking dials. ‘They
      were just a bit upset with me because I’d walked off with their squiggly whatsit.’</p>

    <p class="calibre20">‘Squiggly whatsit?’</p>

    <p class="calibre20">‘It’s on the . . .’ He gestured vaguely with arms that seemed to be mostly elbows and joints.
      ‘The tabley thing over there. I confiscated it.’</p>

    <p class="calibre20">Amy looked irritated. She wasn’t irritated, but she sometimes liked to give him the impression
      she was, just to show him who was boss. ‘Why don’t you ever call things by their proper names?
      <span><span class="calibre8">The tabley thing over there</span></span>? It’s called “a table”.’</p>

    <p class="calibre20">She walked over to the table. The squiggly whatsit was glittery and elegant: it was the size
      and general shape of a bracelet, but it twisted in ways that made it hard for the eye to follow.</p>

    <p class="calibre20">‘Really? Oh good.’ He seemed pleased. ‘I’ll remember that.’</p>

    <p class="calibre20">Amy picked up the squiggly whatsit. It was cold and much heavier than it looked. ‘Why did you
      confiscate it? And why are you saying <span><span class="calibre8">confiscate</span></span> anyway? That’s like
      what teachers do, when you bring something you shouldn’t to school. My friend Mels set a record at school for the
      number of things she’d got confiscated. One night she got me and Rory to make a disturbance while she broke into
      the teacher’s supply cupboard, which was where her stuff was. She had to go over the roof and through the
      teachers’ loo window . . .’</p>

    <p class="calibre20">But the Doctor was not interested in Amy’s old school friend’s exploits. He never was. He said,
      ‘Confiscated. For their own safety. Technology they shouldn’t have had. Probably stolen. Time looper and booster.
      Could have made a nasty mess of things.’ He pulled a lever. ‘And we’re here. All change.’ </p>

    <p class="calibre20">There was a rhythmic grinding sound, as if the engines of the Universe itself were protesting,
      a rush of displaced air, and a large blue police box materialised in the back garden of Amy Pond’s house. It was
      the beginning of the second decade of the twenty-first century.</p>

    <p class="calibre20">The Doctor opened the TARDIS door. Then he said, ‘That’s odd.’</p>

    <p class="calibre20">He stood in the doorway, made no attempt to walk outside. Amy came over to him. He put out an
      arm to prevent her from leaving the TARDIS. It was a perfectly sunny day, almost cloudless.</p>

    <p class="calibre20">‘What’s wrong?’</p>

    <p class="calibre20">‘Everything,’ he said. ‘Can’t you feel it?’ Amy looked at her garden. It was overgrown and
      neglected, but then it always had been, as long as she remembered.</p>

    <p class="calibre20">‘No,’ said Amy. And then she said, ‘It’s quiet. No cars. No birds. Nothing.’</p>

    <p class="calibre20">‘No radio waves,’ said the Doctor. ‘Not even Radio Four.’</p>

    <p class="calibre20">‘You can hear radio waves?’</p>

    <p class="calibre20">‘Of course not. Nobody can hear radio waves,’ he said, unconvincingly.</p>

    <p class="calibre20">And that was when the voice said, ATTENTION VISITORS. YOU ARE NOW ENTERING KIN SPACE. THIS
      WORLD IS THE PROPERTY OF THE KIN. YOU ARE TRESPASSING. It was a strange voice, whispery and, mostly, Amy
      suspected, in her head.</p>

    <p class="calibre20">‘This is Earth,’ called Amy. ‘It doesn’t belong to you.’ And then she said, ‘What have you done
      with the people?’</p>

    <p class="calibre20">WE BOUGHT IT FROM THEM. THEY DIED OUT NATURALLY SHORTLY AFTERWARDS. IT WAS A PITY.</p>

    <p class="calibre20">‘I don’t believe you,’ shouted Amy.</p>

    <p class="calibre20">NO GALACTIC LAWS WERE VIOLATED. THE PLANET WAS PURCHASED LEGALLY AND LEGITIMATELY. A THOROUGH
      INVESTIGATION BY THE SHADOW PROCLAMATION VINDICATED OUR OWNERSHIP IN FULL.</p>

    <p class="calibre20">‘It’s not yours! Where’s Rory?’</p>

    <p class="calibre20">‘Amy? Who are you talking to?’ asked the Doctor.</p>

    <p class="calibre20">‘The voice. The one in my head. Can’t you hear it?’</p>

    <p class="calibre20">TO WHOM ARE YOU TALKING? asked the Voice.</p>

    <p class="calibre20">Amy closed the TARDIS door.</p>

    <p class="calibre20">‘Why did you do that?’ asked the Doctor.</p>

    <p class="calibre20">‘Weird, whispery voice in my head. Said they’d bought the planet. And the, the Shadow
      Proclamation said it was all okay. It told me all the people died out naturally. You couldn’t hear it. It didn’t
      know you were here. Element of surprise. Closed the door.’ Amy Pond could be astonishingly efficient, when she was
      under stress. Right now, she was under stress, but you wouldn’t have known it, if it wasn’t for the squiggly
      whatsit, which she was holding between her hands and was bending and twisting into shapes that defied the
      imagination and seemed to be wandering off into peculiar dimensions.</p>

    <p class="calibre20">‘Did they say who they were?’</p>

    <p class="calibre20">She thought for a moment. ‘“You are now entering Kin space. This world is the property of the
      Kin.”’</p>

    <p class="calibre20">He said, ‘Could be anyone. The Kin. I mean . . . it’s like calling yourselves the People. It’s
      what pretty much every race-name means. Except for <span><span class="calibre8">Dalek</span></span>. That means
      <span><span class="calibre8">Metal-Cased Hatey Death Machines</span></span> in Skaronian.’ And then he was running
      to the control panel. ‘Something like this. It can’t occur overnight. People don’t just die off. And this is 2010.
      Which means . . .’</p>

    <p class="calibre20">‘It means they’ve done something to Rory.’</p>

    <p class="calibre20">‘It means they’ve done something to everyone.’ He pressed several keys on an ancient typewriter
      keyboard, and patterns flowed across the screen that hung above the TARDIS console. ‘I couldn’t hear them . . .
      they couldn’t hear me. You could hear both of us. <span><span class="calibre8">Aha!</span></span> Summer of 1984!
      That’s the divergence point . . .’ His hands began turning, twiddling and pushing levers, pumps, switches, and
      something small that went <span><span class="calibre8">ding</span></span>.</p>

    <p class="calibre20">‘Where’s Rory? I want him, right now,’ demanded Amy as the TARDIS lurched away into space and
      time. The Doctor had only briefly met her fiancé, Rory Williams, once before. She did not think the Doctor
      understood what she saw in Rory. Some days, <span><span class="calibre8">she</span></span> was not entirely sure
      what she saw in Rory. But she was certain of this: nobody took her fiancé away from her.</p>

    <p class="calibre20">‘Good question. Where’s Rory? Also, where’s seven billion other people?’ he asked.</p>

    <p class="calibre20">‘I want my Rory.’</p>

    <p class="calibre20">‘Well, wherever the rest of them are, he’s there too. And you ought to have been with them. At
      a guess, neither of you were ever born.’</p>

    <p class="calibre20">Amy looked down at herself, checking her feet, her legs, her elbows, her hands (the squiggly
      whatsit glittered like an Escher nightmare on her wrist. She dropped it onto the control panel). She reached up
      and grasped a handful of auburn hair. ‘If I wasn’t born, what am I doing here?’</p>

    <p class="calibre20">‘You’re an independent temporal nexus, chronosynclastically established as an inverse . . .’ He
      saw her expression, and stopped.</p>

    <p class="calibre20">‘You’re telling me it’s timey-wimey, aren’t you?’</p>

    <p class="calibre20">‘Yes,’ he said, seriously. ‘I suppose I am. Right. We’re here.’</p>

    <p class="calibre20">He adjusted his bow tie with precise fingers, tipping it to one side rakishly.</p>

    <p class="calibre20">‘But, Doctor. The human race didn’t die out in 1984.’</p>

    <p class="calibre20">‘New timeline. It’s a paradox.’</p>

    <p class="calibre20">‘And you’re the paradoctor?’</p>

    <p class="calibre20">‘Just the Doctor.’ He adjusted his bow tie to its earlier alignment, stood up a little
      straighter. ‘There’s something familiar about all this.’</p>

    <p class="calibre20">‘What?’</p>

    <p class="calibre20">‘Don’t know. Hmm. Kin. Kin. <span><span class="calibre8">Kin. </span></span>I keep thinking of
      masks. Who wears masks?’</p>

    <p class="calibre20">‘Bank robbers?’</p>

    <p class="calibre20">‘No.’</p>

    <p class="calibre20">‘Really ugly people?’</p>

    <p class="calibre20">‘No.’</p>

    <p class="calibre20">‘Hallowe’en? People wear masks at Hallowe’en.’</p>

    <p class="calibre20">‘<span><span class="calibre8">Yes!</span></span> They
      <span><span class="calibre8">do</span></span>!’</p>

    <p class="calibre20">‘So that’s important?’</p>

    <p class="calibre20">‘Not even a little bit. But it’s true. Right. Big divergence in time stream. And it’s not
      actually possible to take over a Level 5 planet in a way that would satisfy the Shadow Proclamation unless . .
      .’</p>

    <p class="calibre20">‘Unless what?’</p>

    <p class="calibre20">The Doctor stopped moving. He bit his lower lip. Then: ‘Oh. They wouldn’t.’</p>

    <p class="calibre20">‘Wouldn’t what?’</p>

    <p class="calibre20">‘They couldn’t. I mean, that would be completely . . .’</p>

    <p class="calibre20">Amy tossed her hair, and did her best to keep her temper. Shouting at the Doctor never worked,
      unless it did. ‘Completely what?’</p>

    <p class="calibre20">‘Completely impossible. You can’t take over a Level 5 planet. Unless you do it legitimately.’
      On the TARDIS control panel something whirled and something else went
      <span><span class="calibre8">ding</span></span>. ‘We’re here. It’s the nexus. Come on! Let’s explore 1984.’</p>

    <p class="calibre20">‘You’re enjoying this,’ said Amy. ‘My whole world has been taken over by a mysterious voice.
      All the people are extinct. Rory’s gone. And you’re enjoying this.’</p>

    <p class="calibre20">‘No, I’m not,’ said the Doctor, trying hard not to show how much he was enjoying it.</p>

    <p class="calibre23">***</p>

    <p class="calibre7">The Brownings stayed in the hotel while Mr Browning looked for a new house. The hotel was
      completely full. Coincidentally, the Brownings learned, in conversation with other hotel guests over breakfast,
      they had also sold their houses and flats. None of them seemed particularly forthcoming about who had bought their
      previous residences.</p>

    <p class="calibre20">‘It’s ridiculous,’ he said, after ten days. ‘There’s nothing for sale in town. Or anywhere
      around here. They’ve all been snapped up.’</p>

    <p class="calibre20">‘There must be something,’ said Mrs Browning.</p>

    <p class="calibre20">‘Not in this part of the country,’ said Mr Browning.</p>

    <p class="calibre20">‘What does the estate agent say?’</p>

    <p class="calibre20">‘Not answering the phone,’ said Mr Browning.</p>

    <p class="calibre20">‘Well, let’s go and talk to her,’ said Mrs Browning. ‘You coming with, Polly?’</p>

    <p class="calibre20">Polly shook her head. ‘I’m reading my book,’ she said.</p>

    <p class="calibre20">Mr and Mrs Browning walked into town, and they met the estate agent outside the door of the
      shop, putting up a notice saying ‘Under New Management’. There were no properties for sale in the window, only a
      lot of houses and flats with <span><span class="calibre12">SOLD ON</span></span> them.</p>

    <p class="calibre20">‘Shutting up shop?’ asked Mr Browning.</p>

    <p class="calibre20">‘Someone made me an offer I couldn’t refuse,’ said the estate agent. She was carrying a
      heavy-looking plastic shopping bag. The Brownings could guess what was in it.</p>

    <p class="calibre20">‘Someone in a rabbit mask?’ asked Mrs Browning.</p>

    <p class="calibre20">When they got back to the hotel, the manager was waiting in the lobby for them, to tell them
      they wouldn’t be living in the hotel much longer.</p>

    <p class="calibre20">‘It’s the new owners,’ she explained. ‘They are closing the hotel for refurbishing.’</p>

    <p class="calibre20">‘New owners?’</p>

    <p class="calibre20">‘They just bought it. Paid a lot of money for it, I was told.’</p>

    <p class="calibre20">Somehow, this did not surprise the Brownings one little bit. They were not surprised until they
      got up to their hotel room, and Polly was nowhere to be seen.</p>

    <h3 class="calibre6">IV</h3>

    <p class="calibre7">‘Nineteen eighty-four,’ mused Amy Pond. ‘I thought somehow it would feel more, I don’t know.
      Historical. It doesn’t feel like a long time ago. But my parents hadn’t even met yet.’ She hesitated, as if she
      were about to say something about her parents, but her attention drifted. They crossed the road.</p>

    <p class="calibre20">‘What were they like?’ asked the Doctor. ‘Your parents?’</p>

    <p class="calibre20">Amy shrugged. ‘The usual,’ she said, without thinking. ‘A mum and a dad.’</p>

    <p class="calibre20">‘Sounds likely,’ agreed the Doctor much too readily. ‘So, I need you to keep your eyes
      open.’</p>

    <p class="calibre20">‘What are we looking for?’</p>

    <p class="calibre20">It was a little English town, and it looked like a little English town as far as Amy was
      concerned. Just like the one she’d left, only without the coffee shops, or the mobile phone shops.</p>

    <p class="calibre20">‘Easy. We’re looking for something that shouldn’t be here. Or we’re looking for something that
      should be here but isn’t.’</p>

    <p class="calibre20">‘What kind of thing?’</p>

    <p class="calibre20">‘Not sure,’ said the Doctor. He rubbed his chin. ‘Gazpacho, maybe.’</p>

    <p class="calibre20">‘What’s gazpacho?’</p>

    <p class="calibre20">‘Cold soup. But it’s meant to be cold. So if we looked all over 1984 and couldn’t find any
      gazpacho, that would be a clue.’</p>

    <p class="calibre20">‘Were you always like this?’</p>

    <p class="calibre20">‘Like what?’</p>

    <p class="calibre20">‘A madman. With a time machine.’</p>

    <p class="calibre20">‘Oh, no. It took ages until I got the time machine.’</p>

    <p class="calibre20">They walked through the centre of the little town, looking for something unusual, and finding
      nothing, not even gazpacho.</p>

    <p class="calibre23">***</p>

    <p class="calibre7">Polly stopped at the garden gate in Claversham Row, looking up at the house that had been her
      house since they had moved here, when she was seven. She walked up to the front door, rang the doorbell and
      waited, and was relieved when nobody answered it. She glanced down the street, then walked hurriedly around the
      house, past the rubbish bins, into the back garden.</p>

    <p class="calibre20">The French window that opened onto the little back garden had a catch that didn’t fasten
      properly. Polly thought it extremely unlikely that the house’s new owners had fixed it. If they had, she’d come
      back when they were here, and she’d have to ask, and it would be awkward and embarrassing.</p>

    <p class="calibre20">That was the trouble with hiding things. Sometimes, if you were in a hurry, you left them
      behind. Even important things. And there was nothing more important than her diary.</p>

    <p class="calibre20">Polly had been keeping it since they had arrived in the town. It had been her best friend: she
      had confided in it, told it about the girls who had bullied her, the ones who befriended her, about the first boy
      she had ever liked. It was, sometimes, her best friend: she would turn to it in times of trouble, or turmoil and
      pain. It was the place she poured out her thoughts.</p>

    <p class="calibre20">And it was hidden underneath a loose floorboard in the big cupboard in her bedroom.</p>

    <p class="calibre20">Polly tapped the left French door hard with the palm of her hand, rapping it next to the
      casement, and the door wobbled, and then swung open.</p>

    <p class="calibre20">She walked inside. She was surprised to see that they hadn’t replaced any of the furniture her
      family had taken away. It still smelled like her house. It was silent: nobody home. Good. She hurried up the
      stairs, worried she might still be at home when Mr Rabbit or Mrs Cat returned.</p>

    <p class="calibre20">She went up the stairs. On the landing something brushed her face – touched it gently, like a
      thread, or a cobweb. She looked up. That was odd. The ceiling seemed furry: hair-like threads, or thread-like
      hairs, came down from it. She hesitated then, thought about running – but she could see her bedroom door. The
      Duran Duran poster was still on it. Why hadn’t they taken it down?</p>

    <p class="calibre20">Trying not to look up at the hairy ceiling, she pushed open her bedroom door.</p>

    <p class="calibre20">The room was different. There was no furniture, and where her bed had been were sheets of
      paper. She glanced down: photographs from newspapers, blown up to life-size. The eyeholes had been cut out
      already. She recognised Ronald Reagan, Margaret Thatcher, Pope John Paul, the Queen . . .</p>

    <p class="calibre20">Perhaps they were going to have a party. The masks didn’t look very convincing.</p>

    <p class="calibre20">She went to the built-in cupboard at the end of the room. Her
      <span><span class="calibre8">Smash Hits</span></span> diary was sitting in the darkness, beneath the floorboard,
      in there. She opened the cupboard door.</p>

    <p class="calibre20">‘Hello, Polly,’ said the man in the cupboard. He wore a mask, like the others had. An animal
      mask: this was some kind of big grey dog.</p>

    <p class="calibre20">‘Hello,’ said Polly. She didn’t know what else to say. ‘I . . . I left my diary behind.’</p>

    <p class="calibre20">‘I know. I was reading it.’ He raised the diary. He was not the same as the man in the rabbit
      mask, the woman in the cat mask, but everything Polly had felt about them, about the
      <span><span class="calibre8">wrongness,</span></span> was intensified here. ‘Do you want it back?’</p>

    <p class="calibre20">‘Yes please,’ Polly said to the dog-masked man. She felt hurt and violated: this man had been
      reading her diary. But she wanted it back.</p>

    <p class="calibre20">‘You know what you need to do, to get it?’</p>

    <p class="calibre20">She shook her head.</p>

    <p class="calibre20">‘Ask me what the time is.’</p>

    <p class="calibre20">She opened her mouth. It was dry. She licked her lips, and muttered, ‘What time is it?’</p>

    <p class="calibre20">‘And my name,’ he said. ‘Say my name. I’m Mister Wolf.’</p>

    <p class="calibre20">‘What’s the time, Mister Wolf?’ asked Polly. A playground game rose unbidden to her mind.</p>

    <p class="calibre20">Mister Wolf smiled (but how can a mask smile?) and he opened his mouth so wide to show row upon
      row of sharp, sharp teeth.</p>

    <p class="calibre20">‘Dinnertime,’ he told her.</p>

    <p class="calibre20">Polly started to scream then, as he came towards her, but she didn’t get to scream for very
      long.</p>

    <h3 class="calibre6">V</h3>

    <p class="calibre7">The TARDIS was sitting in a small grassy area, too small to be a park, too irregular to be a
      square, in the middle of the town, and the Doctor was sitting outside it, in a deck chair, walking through his
      memories.</p>

    <p class="calibre20">The Doctor had a remarkable memory. The problem was, there was so much of it. He had lived
      eleven lives (or more: there was another life, was there not, that he tried his best never to think about) and he
      had a different way of remembering things in each life.</p>

    <p class="calibre20">The worst part of being however old he was (and he had long since abandoned trying to keep
      track of it in any way that mattered to anybody but him) was that sometimes things didn’t arrive in his head quite
      when they were meant to.</p>

    <p class="calibre20"><span><span class="calibre8">Masks.</span></span> That was part of it. And Kin. That was part
      of it too.</p>

    <p class="calibre20">And Time.</p>

    <p class="calibre20">It was all about Time. Yes, that was it . . .</p>

    <p class="calibre20">An old story. Before his time – he was sure of that. It was something he had heard as a boy. He
      tried to remember the stories he had been told as a small boy on Gallifrey, before he had been taken to the Time
      Lord Academy and his life had changed forever.</p>

    <p class="calibre20">Amy was coming back from a sortie through the town.</p>

    <p class="calibre20">‘Maximelos and the three Ogrons!’ he shouted at her.</p>

    <p class="calibre20">‘What about them?’</p>

    <p class="calibre20">‘One was too vicious, one was too stupid, one was just right.’</p>

    <p class="calibre20">‘And this is relevant how?’</p>

    <p class="calibre20">He tugged at his hair absently. ‘Er, probably not relevant at all. Just trying to remember a
      story from my childhood.’</p>

    <p class="calibre20">‘Why?’</p>

    <p class="calibre20">‘No idea. Can’t remember.’</p>

    <p class="calibre20">‘You,’ said Amy Pond, ‘are very frustrating.’</p>

    <p class="calibre20">‘Yes,’ said the Doctor, happily. ‘I probably am.’</p>

    <p class="calibre20">He had hung a sign on the front of the TARDIS. It said:</p>

    <p class="calibre33">
      <span class="calibre12">SOMETHING MYSTERIOUSLY WRONG? JUST KNOCK!<br class="calibre27"/> NO PROBLEM TOO SMALL.</span>
    </p>

    <p class="calibre20">‘If it won’t come to us, I’ll go to it. No, scrap that. Other way round. And I’ve redecorated
      inside, so as not to startle people. What did you find?’</p>

    <p class="calibre20">‘Two things,’ she said. ‘First one was Prince Charles. I saw him in the newsagent’s.’</p>

    <p class="calibre20">‘Are you sure it was him?’</p>

    <p class="calibre20">Amy thought. ‘Well, he looked like Prince Charles. Just much younger. And the newsagent asked
      him if he’d picked out a name for the next Royal Baby. I suggested Rory.’</p>

    <p class="calibre20">‘Prince Charles in the newsagent’s. Right. Next thing?’</p>

    <p class="calibre20">‘There aren’t any houses for sale. I’ve walked every street in the town. No
      <span><span class="calibre12">FOR SALE</span></span> signs. There are people camping in tents on the edge of town.
      Lots of people leaving to find places to live, because there’s nothing around here. It’s just weird.’</p>

    <p class="calibre20">‘Yes.’</p>

    <p class="calibre20">He almost had it, now. Amy opened the TARDIS door. She looked inside. ‘Doctor . . . it’s the
      same size on the inside.’</p>

    <p class="calibre20">He beamed, and took her on an extensive tour of his new office, which consisted of standing
      inside the doorway and making a waving gesture with his right arm. Most of the space was taken up with a desk,
      with an old-fashioned telephone, and a typewriter on it. There was a back wall. Amy experimentally pushed her
      hands through the wall (it was hard to do with her eyes open, easy when she closed them), then she closed her eyes
      and pushed her head through the wall. Now she could see the TARDIS control room, all copper and glass. She took a
      step backwards, into the tiny office.</p>

    <p class="calibre20">‘Is it a hologram?’</p>

    <p class="calibre20">‘Sort of.’</p>

    <p class="calibre20">There was a hesitant rap at the door of the TARDIS. The Doctor opened it.</p>

    <p class="calibre20">‘Excuse me. The sign on the door.’ The man appeared harassed. His hair was thinning. He looked
      at the tiny room, mostly filled by a desk, and he made no move to come inside.</p>

    <p class="calibre20">‘Yes! Hello! Come in!’ said the Doctor. ‘No problem too small!’</p>

    <p class="calibre20">‘Um. My name’s Reg Browning. It’s my daughter. Polly. She was meant to be waiting for us, back
      in the hotel room. She’s not there.’</p>

    <p class="calibre20">‘I’m the Doctor. This is Amy. Have you spoken to the police?’</p>

    <p class="calibre20">‘Aren’t you police? I thought perhaps you were.’</p>

    <p class="calibre20">‘Why?’ asked Amy.</p>

    <p class="calibre20">‘This is a police call box. I didn’t even know they were bringing them back.’</p>

    <p class="calibre20">‘For some of us,’ said the tall young man with the bow tie, ‘they never went away. What
      happened when you spoke to the police?’</p>

    <p class="calibre20">‘They said they’d keep an eye out for her. But honestly, they seemed a bit preoccupied. The
      desk sergeant said the lease had run out on the police station, rather unexpectedly, and they’re looking for
      somewhere to go. The desk sergeant said the whole lease thing came as a bit of a blow to them.’</p>

    <p class="calibre20">‘What’s Polly like?’ asked Amy. ‘Could she be staying with friends?’</p>

    <p class="calibre20">‘I’ve checked with her friends. Nobody’s seen her. We’re living in the Rose Hotel, on
      Wednesbury Street, right now.’</p>

    <p class="calibre20">‘Are you visiting?’</p>

    <p class="calibre20">Mr Browning told them about the man in the rabbit mask who had come to the door last week to
      buy their house for so much more than it was worth, and paid cash. He told them about the woman in the cat mask
      who had taken possession of the house . . .</p>

    <p class="calibre20">‘Oh. Right. Well, that makes sense of everything,’ said the Doctor, as if it actually did.</p>

    <p class="calibre20">‘It does?’ said Mr Browning. ‘Do you know where Polly is?’</p>

    <p class="calibre20">The Doctor shook his head. ‘Mister Browning. Reg. Is there any chance she might have gone back
      to your house?’</p>

    <p class="calibre20">The man shrugged. ‘Might have done. Do you think—?’</p>

    <p class="calibre20">But the tall young man and the red-haired Scottish girl pushed past him, slammed the door of
      their police box, and sprinted away across the green.</p>

    <h3 class="calibre6">VI</h3>

    <p class="calibre7">Amy kept pace with the Doctor, and panted out questions as they ran.</p>

    <p class="calibre20">‘You think she’s in the house?’</p>

    <p class="calibre20">‘I’m afraid she is. Yes. I’ve got a sort of an idea. Look, Amy, don’t let anyone persuade you
      to ask <span><span class="calibre8">them </span></span>the time. And if they do, don’t answer them. Safer that
      way.’</p>

    <p class="calibre20">‘You mean it?’</p>

    <p class="calibre20">‘I’m afraid so. And watch out for masks.’</p>

    <p class="calibre20">‘Right. So these are dangerous aliens we’re dealing with? They wear masks and ask you what time
      it is?’</p>

    <p class="calibre20">‘It sounds like them. Yes. But my people dealt with them, so long ago. It’s almost
      inconceivable . . .’</p>

    <p class="calibre20">They stopped running as they reached Claversham Row.</p>

    <p class="calibre20">‘And if it is who I think it is, what I think it – they – it – are . . . there is only one
      sensible thing we should be doing.’</p>

    <p class="calibre20">‘What’s that?’</p>

    <p class="calibre20">‘Running away,’ said the Doctor, as he rang the doorbell.</p>

    <p class="calibre20">A moment’s silence, then the door opened and a girl looked up at them. She could not have been
      more than eleven, and her hair was in pigtails. ‘Hello,’ she said. ‘My name is Polly Browning. What’s your
      names?’</p>

    <p class="calibre20">‘Polly!’ said Amy. ‘Your parents are worried sick about you.’</p>

    <p class="calibre20">‘I just came to get my diary back,’ said the girl. ‘It was under a loose floorboard in my old
      bedroom.’</p>

    <p class="calibre20">‘Your parents have been looking for you all day!’ said Amy. She wondered why the Doctor didn’t
      say anything.</p>

    <p class="calibre20">The little girl – Polly – looked at her wristwatch. ‘That’s weird. It says I’ve only been here
      for five minutes. I got here at ten this morning.’</p>

    <p class="calibre20">Amy knew it was somewhere late in the afternoon. She said, ‘What time is it now?’</p>

    <p class="calibre20">Polly looked up, delighted. This time Amy thought there was something strange about the girl’s
      face. Something flat. Something almost mask-like . . .</p>

    <p class="calibre20">‘Time for you to come into my house,’ said the girl.</p>

    <p class="calibre20">Amy blinked. It seemed to her that, without having moved, she and the Doctor were now standing
      in the entry hall. The girl was standing on the stairs facing them. Her face was level with theirs.</p>

    <p class="calibre20">‘What are you?’ asked Amy.</p>

    <p class="calibre20">‘We are the Kin,’ said the girl, who was not a girl. Her voice was deeper, darker, and more
      guttural. She seemed to Amy like something crouching, something huge that wore a paper mask with the face of a
      girl crudely scrawled on it. Amy could not understand how she could ever have been fooled into thinking it was a
      real face.</p>

    <p class="calibre20">‘I’ve heard of you,’ said the Doctor. ‘My people thought you were—’</p>

    <p class="calibre20">‘An abomination,’ said the crouching thing with the paper mask. ‘And a violation of all the
      laws of time. They sectioned us off from the rest of Creation. But I escaped, and thus we escaped. And we are
      ready to begin again. Already we have started to purchase this world . . .’</p>

    <p class="calibre20">‘You’re recycling money through time,’ said the Doctor. ‘Buying up this world with it, starting
      with this house, the town . . .’</p>

    <p class="calibre20">‘Doctor? What’s going on?’ asked Amy. ‘Can you explain any of this?’</p>

    <p class="calibre20">‘All of it,’ said the Doctor. ‘Sort of wish I couldn’t. They’ve come here to take over the
      Earth. They’re going to become the population of the planet.’</p>

    <p class="calibre20">‘Oh, no, Doctor,’ said the huge crouching creature in the paper mask. ‘You don’t understand.
      That’s not why we take over the planet. We will take over the world and let humanity become extinct simply in
      order to get you here, now.’</p>

    <p class="calibre20">The Doctor grabbed Amy’s hand and shouted, ‘Run!’ He headed for the front door –</p>

    <p class="calibre20">– and found himself at the top of the stairs. He called, ‘Amy!’ but there was no reply.
      Something brushed his face: something that felt almost like fur. He swatted it away.</p>

    <p class="calibre20">There was one door open, and he walked towards it.</p>

    <p class="calibre20">‘Hel<span><span class="calibre8">lo,</span></span>’ said the person in the room, in a breathy,
      female voice. ‘<span><span class="calibre8">So</span></span> glad you could come, Doctor.’</p>

    <p class="calibre20">It was Margaret Thatcher, the prime minister of Great Britain.</p>

    <p class="calibre20">‘You <span><span class="calibre8">do</span></span> know who we are, dear?’ she asked. ‘It would
      be such a <span><span class="calibre8">shame</span></span> if you didn’t.’</p>

    <p class="calibre20">‘The Kin,’ said the Doctor. ‘A population that only consists of one creature, but able to move
      through time as easily and instinctively as a human can cross the road. There was only one of you. But you’d
      populate a place by moving backwards and forwards in time until there were hundreds of you, then thousands and
      millions, all interacting with yourselves at different moments in your own timeline. And this would go on until
      the local structure of time would collapse, like rotten wood. You need other entities, at least in the beginning,
      to ask you the time, and create the quantum superpositioning that allows you to anchor to a place–time
      location.’</p>

    <p class="calibre20">‘Very <span><span class="calibre8">good,</span></span>’ said Mrs Thatcher. ‘Do you
      <span><span class="calibre8">know</span></span> what the Time Lords said, when they engulfed our world? They said
      that as <span><span class="calibre8">each </span></span>of us was the Kin at a different moment in time, to kill
      any one of us was to commit an act of genocide against our whole species. You cannot kill
      <span><span class="calibre8">me,</span></span> because to kill me is to
      kill<span><span class="calibre8"> all </span></span>of us.’</p>

    <p class="calibre20">‘You know I’m the last Time Lord?’</p>

    <p class="calibre20">‘Oh <span><span class="calibre8">yes,</span></span> dear.’</p>

    <p class="calibre20">‘Let’s see. You pick up the money from the mint as it’s being printed, buy things with it,
      return it moments later. Recycle it through time. And the masks . . . I suppose they amplify the conviction field.
      People are going to be much more willing to sell things when they believe that the leader of their country is
      asking for them, personally . . . and eventually you’ve sold the whole place to yourselves. Will you kill the
      humans?’</p>

    <p class="calibre20">‘<span><span class="calibre8">No</span></span> need, dear. We’ll even make
      reser<span><span class="calibre8">va</span></span>tions for them: Greenland, Siberia, Antarctica . . . but they
      <span><span class="calibre8">will</span></span> die out, nonetheless. Several billion people living in places that
      can barely support a few thousand. Well, dear . . . it <span><span class="calibre8">won’t </span></span>be
      pretty.’ Mrs Thatcher moved. The Doctor concentrated on seeing her as she was. He closed his eyes. Opened them to
      see a bulky figure wearing a crude black-and-white face mask, with a photograph of Margaret Thatcher on it.</p>

    <p class="calibre20">The Doctor reached out his hand and pulled off the mask from the Kin.</p>

    <p class="calibre20">The Doctor could see beauty where humans could not. He took joy in all creatures. But the face
      of the Kin was hard to appreciate.</p>

    <p class="calibre20">‘You . . . you revolt yourself,’ said the Doctor. ‘Blimey. It’s why you wear masks. You don’t
      like your face, do you?’</p>

    <p class="calibre20">The Kin said nothing. Its face, if that was its face, writhed and squirmed.</p>

    <p class="calibre20">‘Where’s Amy?’ asked the Doctor.</p>

    <p class="calibre20">‘Surplus to requirements,’ said another, similar voice, from behind him. A thin man, in a
      rabbit mask. ‘We let her go. We only needed you, Doctor. Our Time Lord prison was a torment, because we were
      trapped in it and reduced to one of us. You are also only one of you. And you will stay here in this house
      forever.’</p>

    <p class="calibre20">The Doctor walked from room to room, examining his surroundings with care. The walls of the
      house were soft and covered with a light layer of fur. And they moved, gently, in and out, as if they were . . .
      ‘Breathing. It’s a living room. Literally.’</p>

    <p class="calibre20">He said, ‘Give me Amy back. Leave this place. I’ll find you somewhere you can go. You can’t
      just keep looping and re-looping through time, over and over, though. It messes everything up.’</p>

    <p class="calibre20">‘And when it does, we begin again, somewhere else,’ said the woman in the cat mask, on the
      stairs. ‘You will be imprisoned until your life is done. Age here, regenerate here, die here, over and over. Our
      prison will not end until the last Time Lord is no more.’</p>

    <p class="calibre20">‘Do you really think you can hold me that easily?’ the Doctor asked. It was always good to seem
      in control, no matter how much he was worried that he was going to be stuck here for good.</p>

    <p class="calibre20">‘Quickly! Doctor! Down here!’ It was Amy’s voice. He took the steps three at a time, heading
      towards the place her voice had come from: the front door.</p>

    <p class="calibre20">‘Doctor!’</p>

    <p class="calibre20">‘I’m here.’ He rattled the door. It was locked. He pulled out his screwdriver, and soniced the
      door handle.</p>

    <p class="calibre20">There was a clunk and the door flew open: the sudden daylight was blinding. The Doctor saw,
      with delight, his friend, and a familiar big blue police box. He was not certain which to hug first.</p>

    <p class="calibre20">‘Why didn’t you go inside?’ he asked Amy, as he opened the TARDIS door.</p>

    <p class="calibre20">‘Can’t find the key. Must have dropped it while they were chasing me. Where are we going
      now?’</p>

    <p class="calibre20">‘Somewhere safe. Well, safer.’ He closed the door. ‘Got any suggestions?’</p>

    <p class="calibre20">Amy stopped at the bottom of the control room stairs and looked around at the gleaming coppery
      world, at the glass pillar that ran through the TARDIS controls, at the doors.</p>

    <p class="calibre20">‘Amazing, isn’t she?’ said the Doctor. ‘I never get tired of looking at the old girl.’</p>

    <p class="calibre20">‘Yes, the old girl,’ said Amy. ‘I think we should go to the very dawn of time, Doctor. As early
      as we can go. They won’t be able to find us there, and we can work out what to do next.’ She was looking over the
      Doctor’s shoulder at the console, watching his hands move, as if she was determined not to forget anything he did.
      The TARDIS was no longer in 1984.</p>

    <p class="calibre20">‘The dawn of time? Very clever, Amy Pond. That’s somewhere we’ve never gone before. Somewhere
      we shouldn’t be able to go. It’s a good thing I’ve got this.’ He held up the squiggly whatsit, then attached it to
      the TARDIS console, using alligator clips and what looked like a piece of string.</p>

    <p class="calibre20">‘There,’ he said proudly. ‘Look at that.’</p>

    <p class="calibre20">‘Yes,’ said Amy. ‘We’ve escaped the Kin’s trap.’</p>

    <p class="calibre20">The TARDIS engines began to groan, and the whole room began to judder and shake.</p>

    <p class="calibre20">‘What’s that noise?’</p>

    <p class="calibre20">‘We’re heading for somewhere the TARDIS isn’t designed to go. Somewhere I wouldn’t dare go
      without the squiggly whatsit giving us a boost and a time bubble. The noise is the engines complaining. It’s like
      going up a steep hill in an old car. It may take us a few more minutes to get there. Still, you’ll like it when we
      arrive: the dawn of time. Excellent suggestion.’</p>

    <p class="calibre20">‘I’m sure I will like it,’ said Amy, with a smile. ‘It must have felt so good to escape the
      Kin’s prison, Doctor.’</p>

    <p class="calibre20">‘That’s the funny thing,’ said the Doctor. ‘You ask me about escaping the Kin’s prison. That
      house. And I mean, I did escape, just by sonicing a doorknob, which was a bit convenient. But what if the trap
      wasn’t the house? What if the Kin didn’t want a Time Lord to torture and kill? What if they wanted something much
      more important. What if they wanted a TARDIS?’</p>

    <p class="calibre20">‘Why would the Kin want a TARDIS?’ asked Amy.</p>

    <p class="calibre20">The Doctor looked at Amy. He looked at her with clear eyes, unclouded by hate or by illusion.
      ‘The Kin can’t travel very far through time. Not easily. And doing what they do is slow, and it takes an effort.
      The Kin would have to travel back and forward in time fifteen million times just to populate London.</p>

    <p class="calibre20">‘What if the Kin had all of Time and Space to move through? What if it went back to the very
      beginning of the Universe, and began its existence there? It would be able to populate everything. There would be
      no intelligent beings in the whole of the SpaceTime Continuum that wasn’t the Kin. One entity would fill the
      Universe, leaving no room for anything else. Can you imagine it?’</p>

    <p class="calibre20">Amy licked her lips. ‘Yes,’ she said. ‘Yes I can.’</p>

    <p class="calibre20">‘All you’d need would be to get into a TARDIS, and have a Time Lord at the controls, and the
      Universe would be your playground.’</p>

    <p class="calibre20">‘Oh yes,’ said Amy, and she was smiling broadly, now. ‘It will be.’</p>

    <p class="calibre20">‘We’re almost there,’ said the Doctor. ‘The dawn of time. Please. Tell me that Amy’s safe,
      wherever she is.’</p>

    <p class="calibre20">‘Why ever would I tell you that?’ asked the Kin in the Amy Pond mask. ‘It’s not true.’</p>

    <h3 class="calibre6">VII</h3>

    <p class="calibre7">Amy could hear the Doctor running down the stairs. She heard a voice that sounded strangely
      familiar calling to him, and then she heard a sound that filled her chest with despair: the diminishing
      <span><span class="calibre8">vworp vworp</span></span> of a TARDIS as it leaves.</p>

    <p class="calibre20">The door opened, at that moment, and she walked out into the downstairs hall.</p>

    <p class="calibre20">‘He’s run out on you,’ said a deep voice. ‘How does it feel to be abandoned?’</p>

    <p class="calibre20">‘The Doctor doesn’t abandon his friends,’ said Amy to the thing in the shadows.</p>

    <p class="calibre20">‘He does. He obviously did in this case. You can wait as long as you want to, he’ll never come
      back,’ said the thing, as it stepped out of the darkness, and into the half-light.</p>

    <p class="calibre20">It was huge. Its shape was humanoid, but also somehow animal
      (<span><span class="calibre8">Lupine,</span></span> thought Amy Pond, as she took a step backwards, away from the
      thing). It had a mask on, an unconvincing wooden mask, that seemed like it was meant to represent an angry dog, or
      perhaps a wolf.</p>

    <p class="calibre20">‘He’s taking someone he believes to be you for a ride in the TARDIS. And in a few moments,
      reality is going to rewrite. The Time Lords reduced the Kin to one lonely entity cut off from the rest of
      Creation. So it is fitting that a Time Lord restores us to our rightful place in the order of things: all other
      things will serve me, or will be me, or will be food for me. Ask me what time it is, Amy Pond.’</p>

    <p class="calibre20">‘Why?’</p>

    <p class="calibre20">There were more of them, now, shadowy figures. A cat-faced woman on the stairs. A small girl in
      the corner. The rabbit-headed man standing behind her said, ‘Because it will be a clean way to die. An easy way to
      go. In a few moments you will never have existed anyway.’</p>

    <p class="calibre20">‘Ask me,’ said the wolf-masked figure in front of her. ‘Say, “What’s the time, Mister
      Wolf?”’</p>

    <p class="calibre20">In reply, Amy Pond reached up and pulled the wolf mask from the face of the huge thing, and she
      saw the Kin.</p>

    <p class="calibre20">Human eyes were not meant to look at the Kin. The crawling, squirming, wriggling mess that was
      the face of the Kin was a frightful thing: the masks had been as much for its own protection as for everyone
      else’s.</p>

    <p class="calibre20">Amy Pond stared at the face of the Kin. She said, ‘Kill me if you’re going to kill me. But I
      don’t believe that the Doctor has abandoned me. And I’m not going to ask you what time it is.’</p>

    <p class="calibre20">‘Pity,’ said the Kin, through a face that was a nightmare. And it moved towards her.</p>

    <p class="calibre23">***</p>

    <p class="calibre7">The TARDIS engines groaned once, loudly, and then were silent.</p>

    <p class="calibre20">‘We are here,’ said the Kin. Its Amy Pond mask was now just a flat, scrawled drawing of a
      girl’s face.</p>

    <p class="calibre20">‘We’re here at the beginning of it all,’ said the Doctor, ‘because that’s where you want to be.
      But I’m prepared to do this another way. I could find a solution for you. For all of you.’</p>

    <p class="calibre20">‘Open the door,’ grunted the Kin.</p>

    <p class="calibre20">The Doctor opened the door. The winds that swirled about the TARDIS pushed the Doctor
      backwards.</p>

    <p class="calibre20">The Kin stood at the door of the TARDIS. ‘It’s so dark.’</p>

    <p class="calibre20">‘We’re at the very start of it all. Before light.’</p>

    <p class="calibre20">‘I will walk into the void,’ said the Kin. ‘And you will ask me, “What time is it?” And I will
      tell myself, tell you, tell all Creation,
      <span><span class="calibre8">Time for the Kin to rule, to occupy, to invade. Time for the Universe to become only me and mine and whatever I keep to devour. Time for the first and final reign of the Kin, world without end, through all of time.</span></span>’
    </p>

    <p class="calibre20">‘I wouldn’t do it,’ said the Doctor. ‘If I were you. You can still change your mind.’</p>

    <p class="calibre20">The Kin dropped the Amy Pond mask onto the TARDIS floor.</p>

    <p class="calibre20">It pushed itself out of the TARDIS door, into the Void.</p>

    <p class="calibre20">‘Doctor,’ it called. Its face was a writhing mass of maggots. ‘Ask me what time it is.’</p>

    <p class="calibre20">‘I can do better than that,’ said the Doctor. ‘I can
      <span><span class="calibre8">tell</span></span> you exactly what time it is. It’s no time. It’s Nothing O’Clock.
      It’s a microsecond before the Big Bang. We’re not at the Dawn of Time. We’re before the Dawn.</p>

    <p class="calibre20">‘The Time Lords really didn’t like genocide. I’m not too keen on it myself. It’s the potential
      you’re killing off. What if one day there was a good Dalek? What if . . .’ He paused. ‘Space is big. Time is
      bigger. I would have helped you to find a place your people could have lived. But there was a girl called Polly,
      and she left her diary behind. And you killed her. That was a mistake.’</p>

    <p class="calibre20">‘You never even knew her,’ called the Kin from the Void.</p>

    <p class="calibre20">‘She was a kid,’ said the Doctor. ‘Pure potential, like every kid everywhere. I know all I
      need.’ The squiggly whatsit attached to the TARDIS console was beginning to smoke and spark. ‘You’re out of time,
      literally. Because Time doesn’t start until the Big Bang. And if any part of a creature that inhabits time gets
      removed from time . . . well, you’re removing yourself from the whole picture.’</p>

    <p class="calibre20">The Kin understood. It understood that, at that moment, all of Time and Space was one tiny
      particle, smaller than an atom, and that until a microsecond passed, and the particle exploded, nothing would
      happen. Nothing could happen. And the Kin was on the wrong side of the microsecond.</p>

    <p class="calibre20">Cut off from Time, all the other parts of the Kin were ceasing to be. The It that was They felt
      the wash of nonexistence sweeping over them.</p>

    <p class="calibre20">In the beginning – before the beginning – was the word. And the word was ‘Doctor!’</p>

    <p class="calibre20">But the door had been closed and the TARDIS vanished, implacably. The Kin was left alone, in
      the void before Creation.</p>

    <p class="calibre20">Alone, forever, in that moment, waiting for Time to begin.</p>

    <h3 class="calibre6">VIII</h3>

    <p class="calibre7">The young man in the tweed jacket walked around the house at the end of Claversham Row. He
      knocked at the door, but no one answered. He went back into the blue box, and fiddled with the tiniest of
      controls: it was always easier to travel a thousand years than it was to travel twenty-four hours.</p>

    <p class="calibre20">He tried again.</p>

    <p class="calibre20">He could feel the threads of time ravelling and reravelling. Time is complex: not everything
      that has happened has happened, after all. Only the Time Lords understood it, and even they found it impossible to
      describe.</p>

    <p class="calibre20">The house in Claversham Row had a grimy <span><span class="calibre12">FOR SALE</span></span>
      sign in the garden.</p>

    <p class="calibre20">He knocked at the door.</p>

    <p class="calibre20">‘Hello,’ he said. ‘You must be Polly. I’m looking for Amy Pond.’</p>

    <p class="calibre20">The girl’s hair was in pigtails. She looked up at the Doctor suspiciously. ‘How do you know my
      name?’ she asked.</p>

    <p class="calibre20">‘I’m very clever,’ said the Doctor, seriously.</p>

    <p class="calibre20">Polly shrugged. She went back into the house, and the Doctor followed. There was, he was
      relieved to notice, no fur on the walls.</p>

    <p class="calibre20">Amy was in the kitchen, drinking tea with Mrs Browning. Radio Four was playing in the
      background. Mrs Browning was telling Amy about her job as a nurse, and the hours she had to work, and Amy was
      saying that her fiancé was a nurse, and she knew all about it.</p>

    <p class="calibre20">She looked up, sharply, when the Doctor came in: a look as if to say ‘You’ve got a lot of
      explaining to do.’</p>

    <p class="calibre20">‘I thought you’d be here,’ said the Doctor. ‘If I just kept looking.’</p>

    <p class="calibre23">***</p>

    <p class="calibre7">They left the house on Claversham Row: the blue police box was parked at the end of the road,
      beneath some chestnut trees.</p>

    <p class="calibre20">‘One moment,’ said Amy, ‘I was about to be eaten by that creature. The next I was sitting in
      the kitchen, talking to Mrs Browning, and listening to <span><span class="calibre8">The Archers</span></span>. How
      did you do that?’</p>

    <p class="calibre20">‘I’m very clever,’ said the Doctor. It was a good line, and he was determined to use it as much
      as possible.</p>

    <p class="calibre20">‘Let’s go home,’ said Amy. ‘Will Rory be there this time?’</p>

    <p class="calibre20">‘Everybody in the world will be there,’ said the Doctor. ‘Even Rory.’</p>

    <p class="calibre20">They went into the TARDIS. He had already removed the blackened remains of the squiggly whatsit
      from the console: the TARDIS would not again be able to reach the moment before time began, but then, all things
      considered, that had to be a good thing.</p>

    <p class="calibre20">He was determined to take Amy straight home – with just a small side trip to Andalusia, during
      the age of chivalry, where, in a small inn on the road to Seville, he had once been served the finest gazpacho he
      had ever tasted.</p>

    <p class="calibre20">The Doctor was almost completely sure he could find it again . . .</p>

    <p class="calibre20">‘We’ll go straight home,’ he said. ‘After lunch. And over lunch, I’ll tell you the story of
      Maximelos and the three Ogrons.’</p>

  </div>
</div>