<div class="row">
  <div class="small-8 columns">
    <h2>Contact</h2>
    <p>If you'd like to contact me, you can use the form below. Or you can send me a message on Google+.</p>

    <%= render 'form' %>
  </div>
</div>