.row
  .large-12.columns{:role => "content"}
    %h2 Photos
    %ul{:class => 'clearing-thumbs small-block-grid-3 medium-block-grid-4 large-block-grid-6'}
      - for photo in @photos
        %li
          %a.th{:href => photo[:image], :title => photo[:caption], :data => {:lightbox => 'x'}}
            %img{:src => photo[:thumbnail]}/
