.row
  .large-12.columns{:role => "content"}
    %h2 Photos
    %ul{:class => 'clearing-thumbs small-block-grid-3 medium-block-grid-4 large-block-grid-6'}
      - for photo in @photos
        %li
          %a{:href => photo[:link], :title => photo[:caption], :class => 'th'}
            %img{:src => photo[:thumbnail]}/
