.row
  .large-12.columns{:role => "content"}
    %h2 Photos
    %ul
      - for photo in @photos
        %li.col-lg-2.col-md-2.col-sm-3.col-xs-4
          %a{:href => photo[:image], :title => photo[:caption], :data => {:lightbox => 'x'}}
            %img{:src => photo[:thumbnail]}/
