// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photos {
  ul {
    padding:0 0 0 0;
    margin:0 0 0 0;

    li {
      list-style:none;
      margin-bottom:25px;

      img {
        cursor: pointer;
      }
    }
  }
}
