@import 'variables';

.tag-cloud {
  .s {
    font-size: 100%;
    color: lighten($brand-primary, 10%);
  }
  .m {
    font-size: 125%;
    color: $brand-primary;
  }
  .l {
    font-size: 175%;
    color: darken($brand-primary, 10%);
  }
}
